.btn-ud {
    margin: 0 0 0 415px;
    height: 35px;
    width: 107px;
    font-size: 18px;
    font-weight: 700;
}

.ip-text {
    font-size: 15px;
}

.tt-md {
    font-size: 20px;
    font-weight: 700;
}
